* { margin:0; padding:0; box-sizing:border-box; }
html, body { width:100%; height:100%; }

[vbox], [hbox] {display: flex;}
[vbox] {flex-direction: column;}
[hbox] {flex-direction: row;}

[vbox^=  "start-"  i], [hbox^=  "start-"  i] { justify-content: start; }
[vbox^=    "end-"  i], [hbox^=    "end-"  i] { justify-content: end; }
[vbox^= "center-"  i], [hbox^= "center-"  i] { justify-content: center; }
[vbox^= "around-"  i], [hbox^= "around-"  i] { justify-content: space-around; }
[vbox^=   "even-"  i], [hbox^=   "even-"  i] { justify-content: space-evenly; }
[vbox^="between-"  i], [hbox^="between-"  i] { justify-content: space-between; }
[vbox^="stretch-"  i], [hbox^="stretch-"  i] { justify-content: stretch; }

[vbox$="-start"    i], [hbox$="-start"    i] { align-items: start; }
[vbox$="-end"      i], [hbox$="-end"      i] { align-items: end; }
[vbox$="-center"   i], [hbox$="-center"   i] { align-items: center; }
[vbox$="-around"   i], [hbox$="-around"   i] { align-items: space-around; }
[vbox$="-even"     i], [hbox$="-even"     i] { align-items: space-evenly; }
[vbox$="-between"  i], [hbox$="-between"  i] { align-items: space-between; }
[vbox$="-stretch"  i], [hbox$="-stretch"  i] { align-items: stretch; }
[vbox$="-baseline" i], [hbox$="-baseline" i] { align-items: baseline; }

[vbox] > *, [hbox] > * { flex: initial; }
[vbox^="stretch"] > *, [hbox^="stretch-"] > * { flex: auto; }

[flex="0"]{flex:0;} [flex="1"]{flex:1;} [flex="2"]{flex:2;}
[flex="3"]{flex:3;} [flex="2"]{flex:4;} [flex="5"]{flex:5;}

/**********************************************************************/

@page {
  margin: 0mm;
}

:root {
  --bg: #fff;
  --fg: #222;
  --fg-dim: #aaa;
  --panel: rgba(0,0,0, 0.0625);
  --panel-opaque: rgb(238, 238, 238);
  --divider: rgba(0,0,0, 0.0625);
  --hover: rgba(0,0,0, 0.125);
  --hover-dim: rgba(0,0,0, 0.05);
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg: #222;
    --fg: #fff;
    --fg-dim: #aaa;
    --panel: rgba(255,255,255, 0.0625);
    --panel-opaque: rgb(39, 39, 39);
    --divider: rgba(255,255,255, 0.0625);
    --hover: rgba(255,255,255, 0.125);
    --hover-dim: rgba(255,255,255, 0.05);
  }
}

/**********************************************************************/

body {
  background: var(--bg);
  font-family: sans-serif;
}


#menu {
  background: var(--panel);
  padding: 5px 10px;
  border-bottom: 1px solid var(--divider);
  z-index: 9;
}

#menu > button {
  color: var(--fg);
  line-height: 1em;
  padding: 0.5em 0.75em;
  border-radius: 5px;
  text-decoration: none;
  background: transparent;
  border: none;
  cursor: pointer;
  margin-right: 10px;
  font-weight: bold;
  position: relative;
}

#menu > button:hover {
  background: var(--hover);
}

#menu > button:hover .dd {
  visibility: visible;
}

#msg {
  padding: 0 1em;
  letter-spacing: 0.25px;
  font-size: 0.675rem;
  color: var(--fg-dim);
  margin-left: 1em;
  transition: opacity 0.25s ease-in;
  opacity: 0;
}

#msg.show {
  opacity: 1;
  transition: none;
}

#logo {
  margin-right: 1rem;
}

.dd {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 999;
  background: var(--panel-opaque);
  padding: 1em;
  box-shadow: 0 3px 12px rgba(0,0,0, 0.2);
  border: 1px solid var(--divider);
  visibility: hidden;
  font-weight: normal;
  width: 8rem;
  line-height: 1.5;
  cursor: default;
  text-align: left;
}

.dd.center {
  text-align: center;
}

.dd.wide {
  width: 20em;
}

.dd.show {
  visibility: visible;
}

.dd > :not(:last-child) {
  margin-bottom: 0.5em;
}

.dd > hr {
  margin: 0.5em 0 1em 0;
}

.dd a {
  cursor: pointer;
  padding: 2px 5px;
  border-radius: 3px;
  margin-left: -3px;
  margin-right: -3px;
}

.dd a:hover {
  background: var(--hover-dim);
}

tt, code {
  font-family: monospace;
}

code {
  padding: 3px;
  background: rgba(0,0,0, 0.05);
  border-radius: 3px;
}


#foot {
  background: var(--panel);
  padding: 5px 10px;
  font-size: 0.75rem;
  color: var(--fg-dim);
  border-top: 1px solid var(--divider);
}

.gutter {
  background: var(--divider);
  cursor: col-resize;
  position: relative;
}

.gutter:after {
  content: '';
  position: absolute;
  top: 0;
  left: -8px;
  width: 21px;
  height: 100%;
}

#code, #view {
  overflow: scroll;
}

.cm-editor {
  height: 1px; /* why does this work? */
}

#view-iframe {
  border: 0;
}

